@page "/product/create"

@using PhoneStore.UI.Models
@using PhoneStore.UI.Services

@inject IProductsServiceProxy Proxy

<h3>Добавление нового товара </h3>

<Card Style="max-width:500px">
    <CardImage Style="max-height:300px; max-width:260px" Source="@($"/img/gallery/img_logo2.png")" Alt="Placeholder image"> </CardImage>
    <CardBody>
        <CardText>
            <Div>
                Наименование: <TextEdit MaxLength="20" @bind-Text="_storeItemInfo.Name" />
            </Div>
            <Div>
                Описание: <TextEdit @bind-Text="_storeItemInfo.Description" />
            </Div>
            <Div>
                Цена: <TextEdit @bind-Text="_storeItemInfo.Price" />
            </Div>
        </CardText>
        <Button Color="Color.Primary" Outline Margin="Margin.Is2.FromTop" Clicked="@CreateProduct">
            Добавить 
        </Button>
    </CardBody>
</Card>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private StoreItemInfo? _storeItemInfo = new StoreItemInfo("", "", "", "", "");

    async Task CreateProduct()
    {
        var product = new ProductItem(Guid.NewGuid(), _storeItemInfo.Name, Guid.NewGuid(), Convert.ToDecimal(_storeItemInfo.Price), _storeItemInfo.Description);
        await Proxy.CreateProduct(product);
    }
}
